<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Clasifica la Imagen</h1>
    <div class="image-container">
        <img src="{{ url_for('image', filename=image) }}" alt="Image to classify">
    </div>
    <div class="buttons">
        <button onclick="sendFeedback('screenshot')">Screenshot</button>
        <button onclick="sendFeedback('meme')">Meme</button>
        <button onclick="sendFeedback('paisajes')">Paisajes</button>
        <button onclick="sendFeedback('animales')">Animales</button>
        <button onclick="sendFeedback('buceo')">Buceo</button>
        <button onclick="sendFeedback('normales')">Normales</button>
        <button onclick="sendFeedback('juegos')">Juegos</button>
    </div>
    <div id="results">
        <p>Clasificación:</p>
        <ul id="predictions-list"></ul>
    </div>
    <script>
        function sendFeedback(label) {
            fetch('/feedback', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ image: '{{ image }}', label: label }),
            }).then(response => response.json())
              .then(data => {
                console.log(data.message);
                window.location.reload();  // Recargar la página para mostrar otra imagen
              });
        }

        // Mostrar clasificación de la imagen
        fetch(`/classify/{{ image }}`)
            .then(response => response.json())
            .then(data => {
                const predictionsList = document.getElementById('predictions-list');
                predictionsList.innerHTML = '';
                const li = document.createElement('li');
                li.textContent = `Categoría: ${data.prediction} (Confianza: ${data.confidence.toFixed(2)})`;
                predictionsList.appendChild(li);
            });
    </script>
</body>
</html>
